@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    image-rendering: pixelated;
}

body {
    background-color: #0d0e12;
    overflow: hidden;
    font-family: 'VT323', monospace;
}

.stage-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #0d0e12;
    overflow: hidden;
}
.portfolio-stage {
    position: relative;
    aspect-ratio: 16 / 9;
    width: 100%;
    max-height: 100%;
    max-width: 177.78vh; 

    background-color: #000;
    container-type: size; 
    overflow: hidden;
}

.layer-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; 
    z-index: 1;
}
.ui-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.main-display {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    pointer-events: auto; 
    cursor: pointer;
    z-index: 50;
}
    .main-display:hover {
        transform: translate(-50%, -50%) scale(1.1);
    }

    .arrow {
        position: absolute;
        top: -7%;
        width: 40%;
        pointer-events: auto;
        cursor: pointer;
        z-index: 110;
    }

    .arrow.left {
        left: -5%;
    }

    .arrow.right {
        right: -5%;
    }
    .arrow:hover {
        transform: translate(-4px, -4px) scale(1.1);
    }

    .back-home-btn {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 12%; 
    }
.back-hitbox {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 16%;
    height: 10%;
    cursor: pointer;
    pointer-events: auto;
    z-index: 1500;
}

    .back-hitbox:hover + .back-home-btn {
        transform: scale(1.2);
    }

.category-form {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(13, 14, 18, 0.98);
    z-index: 2000;
    padding: 50px 50px; 
    overflow-y: auto;
}
    .category-form::-webkit-scrollbar {
        width: 0.8cqw;
    }

    .category-form::-webkit-scrollbar-track {
        background: #001a5e;
        border-left: 4px solid #fff;
    }
    .category-form::-webkit-scrollbar-thumb {
        background: #ff4fa1;
        border: 4px solid #fff;
        box-shadow: inset -3px -3px 0px #b02e6a;
    }
.content-wrapper {
    max-width: 900px;
    margin: 80px auto 40px auto;
    text-align: center;
}
.category-form h1 {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 4.2cqw; 
    color: #ff4fa1;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 25px;
    text-shadow: 4px 4px 0px #000;
    position: relative;
}
    .category-form h1::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        height: 12px;
        background-color: #ffffff;
        box-shadow: 4px 4px 0px #000;
    }

.category-form h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.7cqw;
    color: #ffb8e0;
}
.category-form h4 {
    color: #ffb8e0;
    margin-top: 50px;
    font-size: 3.2cqw;
    text-align: left;
    border-left: 6px solid #ff4fa1;
    padding-left: 15px;
}
.category-form p {
    font-size: 2.8cqw;
    line-height: 1.4;
    color: #e0e0e0;
    margin-top: 20px;
    text-align: left;
}
.art-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 1.5cqw;
    padding: 1cqw 0;
}
.art-card {
    background: #001a5e;
    border: 0.2cqw solid #ffffff;
    box-shadow: 0.3cqw 0.3cqw 0px #000;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.1s steps(2);
    position: relative;
    display: flex;
    flex-direction: column;
}
    .art-card:hover {
        transform: translate(-0.2cqw, -0.2cqw);
        box-shadow: 0.5cqw 0.5cqw 0px #ff4fa1;
    }
    .art-card img,
    .art-card video {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        display: block;
    }
.art-info {
    padding: 0.5cqw;
    font-size: 1.4cqw;
    background: #001a5e;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    display: none;
    position: fixed;
    z-index: 3000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: zoom-out;
}
.modal-content {
    max-width: 85%;
    max-height: 80%;
    border: 0.4cqw solid #ffffff; 
    box-shadow: 0 0 1.5cqw #ff4fa1; 
}
#caption {
    margin-top: 1.3cqw;
    font-size: 2.5cqw; 
    color: #ff4fa1;
    text-shadow: 0.15cqw 0.15cqw 0px #000;
}
.back-btn {
    background: #ff4fa1;
    color: #ffffff;
    border: 0.2cqw solid #ffffff;
    padding: 0.5cqw 2.3cqw; 
    cursor: pointer;
    display: block;
    margin: 3cqw auto; 
    font-family: 'VT323', monospace;
    font-size: 2.2cqw;
    box-shadow: 0.4cqw 0.4cqw 0px #000;
}

    .back-btn:active {
        transform: translate(0.2cqw, 0.2cqw);
        box-shadow: 0px 0px 0px #000;
    }





.character-img, .arrow-img {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    pointer-events: none;
    z-index: 5;
    transition: transform 0.1s steps(2);
}

.character-img {
    width: 100%;
}

.arrow-img {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 5;
    width: 40%;
    transition: transform 0.1s steps(2);
}
    .arrow-img.left {
        left: 15%; 
    }

    .arrow-img.right {
        left: 84%;
    }

.main-hitbox {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25cqw;
    height: 40cqw;
    pointer-events: auto;
    cursor: pointer;
    z-index: 100;
}

.arrow-hitbox {
    position: absolute;
    top: 54%;
    width: 12cqw;
    height: 12cqw;
    transform: translate(-50%, -50%); 
    pointer-events: auto;
    cursor: pointer;
    z-index: 110;
}
    .arrow-hitbox.left {
        left: 35%;
    }

    .arrow-hitbox.right {
        left: 65%;
    }

.main-hitbox:hover ~ .character-img {
    transform: translate(-50%, -50%) scale(1.1);
}
.arrow-hitbox.left:hover ~ .arrow-img.left {
    transform: translate(-50%, -50%) scale(1.1);
}
.arrow-hitbox.right:hover ~ .arrow-img.right {
    transform: translate(-50%, -50%) scale(1.1);
}


html, body {
    min-width: 100vw;
    min-height: 100vh;
    cursor: url('images/cursor2.png'), auto !important;
}

.main-hitbox,
.arrow-hitbox,
.back-hitbox,
.back-btn,
.art-card,
button,
a {
    cursor: url('images/cursor2.png'), pointer !important;
}


